<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/main.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/home.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" type="text/css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/css/bootstrap-dialog.min.css" rel="stylesheet" />
    <script src="/Scripts/jquery-3.1.1.js"></script>
    <script src="/Scripts/jquery.validate.min.js" type="text/javascript"></script>
    <script src="/scripts/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/Login/main.js")"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/js/bootstrap-dialog.min.js"></script>
    <title>@ViewBag.Title</title>
</head>
<body>
    @Html.ActionLink("BAIM", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>
                <a href="@Url.Action("Index", "Home")">
                    <span class="glyphicon glyphicon-home"></span>
                    Home
                </a>
            </li>
            <li>
                <a href="@Url.Action("Contact", "Home")">
                    <span class="glyphicon glyphicon-search"></span>
                    Contact
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Calendar")">
                    Scheduler
                </a>
            </li>
            @*<li>
                <a href="@Url.Action("Search", "Home")">
                    Search
                </a>
            </li>*@
        </ul>
    </div>
    @*@{Html.RenderPartial(ViewHelper.GetViewUrl(View.Navbar));}*@
    <div id="viewContent">
        @RenderBody()
    </div>
    @*@{Html.RenderPartial(ViewHelper.GetViewUrl(View.Error), string.Empty);}*@
    @{Html.RenderPartial("~/Views/PartialViews/Loading.cshtml");}
    @*@{Html.RenderPartial(ViewHelper.GetViewUrl(View.FieldAssociations), new List<CourtCaseField>());}*@
</body>
</html>
