@model WebDBApp.ViewModels.NewAccessoryViewModel
@{
    ViewBag.Title = "New Accessory";
}

<div class="row">
    <div class="col-md-5" style="float: none; margin: 0 auto;">
        <div id="errorPlaceHolder"></div>
    </div>
    <div class="col-md-5" style="float: none; margin: 0 auto;">
        <h2>NEW ACCESSORY</h2>
        <form class="form-horizontal" action="/Accessory/NewAccessory" method="post">
            @Html.HiddenFor(model => model.Room.ID)
            <div class="form-group">
                <label for="Name" class="col-sm-3 control-label">NAME</label>
                <div class="col-sm-6">
                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control"})
                </div>
                <div class="col-sm-3">
                    @Html.ValidationMessageFor(x => x.Name)
                </div>
            </div>
            <div class="form-group">
                <label for="Description" class="col-sm-3 control-label">DESCRIPTION</label>
                <div class="col-sm-6">
                    @Html.TextAreaFor(x => x.Description, new { @class = "form-control" })
                </div>
                <div class="col-sm-3">
                    @Html.ValidationMessageFor(x => x.Description)
                </div>
            </div>

            <div id="bottomMenu" class="col-md-offset-3 col-md-6">
                <input type="submit" class="btn btn-success" value="WYŚLIJ" />
                <input type="button" class="btn btn-warning" value="ANULUJ" onclick="window.location = '/Room';" />
            </div>
        </form>
    </div>
</div>

