@model WebDBApp.ViewModels.BuildingViewModel
@{
    ViewBag.Title = "Edit Building";
}

<div class="row">
    <div class="col-md-5" style="float: none; margin: 0 auto;">
        <div id="errorPlaceHolder"></div>
    </div>
    <div class="col-md-5" style="float: none; margin: 0 auto;">
        <h2>EDIT BUILDING</h2>
        <form class="form-horizontal" action="/Home/EditBuilding" method="post">
            @Html.HiddenFor(model => model.ID)
            <div class="form-group">
                <label for="Name" class="col-sm-3 control-label">NAME</label>
                <div class="col-sm-6">
                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control"})
                </div>
                <div class="col-sm-3">
                    @Html.ValidationMessageFor(x => x.Name)
                </div>
            </div>
            <div class="form-group">
                <label for="Email" class="col-sm-3 control-label">E-MAIL</label>
                <div class="col-sm-6">
                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
                </div>
                <div class="col-sm-3" id="EmailError">
                    @Html.ValidationMessageFor(x => x.Email)
                </div>
            </div>
            <div class="form-group">
                <label for="Address" class="col-sm-3 control-label">ADDRESS</label>
                <div class="col-sm-6">
                    @Html.TextBoxFor(x => x.Address, new { @class = "form-control" })
                </div>
                <div class="col-sm-3">
                    @Html.ValidationMessageFor(x => x.Address)
                </div>
            </div>
            <div class="form-group">
                <label for="ContactPhone" class="col-sm-3 control-label">PHONE</label>
                <div class="col-sm-6">
                    @Html.TextBoxFor(x => x.ContactPhone, new { @class = "form-control" })
                </div>
                <div class="col-sm-3">
                    @Html.ValidationMessageFor(x => x.ContactPhone)
                </div>
            </div>
            <div class="form-group">
                <label for="Description" class="col-sm-3 control-label">DESCRIPTION</label>
                <div class="col-sm-6">
                    @Html.TextAreaFor(x => x.Description, new { @class = "form-control" })
                </div>
                <div class="col-sm-3">
                    @Html.ValidationMessageFor(x => x.Description)
                </div>
            </div>

            <div id="bottomMenu" class="col-md-offset-3 col-md-6">
                <input type="submit" class="btn btn-success" value="WYŚLIJ" />
                <input type="button" class="btn btn-warning" value="ANULUJ" onclick="window.location = '/Home';" />                
            </div>
        </form>
        <form class="form-inline" action="/Home/DeleteBuilding" method="POST">
            @Html.HiddenFor(model => model.ID)
            <input type="submit" class="btn btn-danger" value="Delete" />
        </form>
    </div>
</div>

