@using WebDBApp.Helpers;
@using WebDBApp.Enum;
@model WebDBApp.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Home Page";
    var role = SessionHelper.GetElement<string>(SessionElement.Role);
}
    <h2 class="text-center" style="font-size: 40px"><kbd>Our Gyms</kbd></h2>
<div class="row center-block">
    @foreach(var gym in Model.Gyms)
    {

    <div class="col-md-6 panel panel-default">
        <h2>@(gym.GymDetails.Name)</h2>
        <hr>
        <h4><strong style="font-size: 20px;">Address: </strong> @(gym.GymDetails.Address)</h4>
        <h4><strong style="font-size: 20px;">Phone: </strong> @(gym.GymDetails.ContactPhone)</h4>
        <h4><strong style="font-size: 20px;">Email: </strong> @(gym.GymDetails.Email)</h4>
        <p>
            <strong style="font-size: 20px;">Description:</strong>
            <p class="col-lg-offset-1">@(gym.GymDetails.Description)</p>
        </p>
        @if(role == "Administrator")
        {
        <a href="@Url.Action("EditGym", "Home" , new { id=gym.ID })">
            Edit Gym
            <span class="glyphicon glyphicon-edit"></span>
        </a>
        }

    </div>

    }
</div>
@if(role == "Administrator")
{
<div class="row center-block">
    <div class="col-lg-2">
        <input type="button" class="btn btn-success" onclick="window.location = '/Home/NewGym';" value="Add Gym"/>
    </div>
   
</div>
}
