@using WebDBApp.Helpers;
@using WebDBApp.Enum;
@model WebDBApp.ViewModels.CalendarEventsViewModel
@{
    ViewBag.Title = "Events";
    var role = SessionHelper.GetElement<string>(SessionElement.Role);
    }
    <table class="table table-bordered">
        <tr>
            <th>
                Title
            </th>
            <th>
                Description
            </th>
            <th>
                Starts at
            </th>
            <th>
                Ends at
            </th>
            <th>
                Owner
            </th>
            <th>
                Type
            </th>
            <th>
                Buildng
            </th>
            <th>
                Room
            </th>
            <th>
                Participants
            </th>
            </tr>

        @foreach (var ev in Model.CalendarEvents) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => ev.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => ev.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => ev.StartAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => ev.EndAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => ev.Owner.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => ev.EventType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => ev.Building.BuildingDetails.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => ev.Room.Name)
            </td>
            <td>
                @foreach (var participant in ev.Users)
                {
                    <p>@(participant.FullName)</p>
                }
            </td>
            </tr>
        }

    </table>
